* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::webkit-details-marker {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 859px;
  background: rgb(34, 34, 34);
  padding-top: 18px;
  padding-bottom: 19px;
}

.header_link:hover .header_link_icon path {
  fill: #F16D7F;
}

.logo {
  display: flex;
  gap: 41px;
  align-items: end;
}
.logo .magnifier {
  padding-bottom: 1px;
}

.button_copy {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  align-items: center;
  position: relative;
  padding-top: 8px;
  padding-right: 9px;
}
.button_copy .eclipse::after {
  content: "5";
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  z-index: 2;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.menu {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  padding: 32px 74px 32px 32px;
  position: absolute;
  right: 0;
  top: 77px;
  display: none;
  z-index: 2;
}
.menu .menu_title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 24px;
  padding-left: 1px;
  width: 55px;
}
.menu .menu_title:hover {
  text-decoration: underline;
}
.menu .menu_categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu .menu_categories .category_title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 12px;
}
.menu .menu_categories .category_title:hover {
  text-decoration: underline;
}
.menu .menu_categories .category_sections {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 21.5px;
}
.menu .menu_categories .category_sections .category_section {
  color: rgb(111, 110, 110);
  text-align: left;
}
.menu .menu_categories .category_sections .category_section:hover {
  text-decoration: underline;
}

.menu:hover {
  display: block;
}

.header:hover .menu {
  display: block;
}

.top {
  background: rgb(241, 228, 230);
  display: flex;
  gap: 64px;
  padding-left: calc(50% - 800px);
  position: relative;
}

.title_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-top: 290px;
  margin-bottom: 381px;
}
.title_block .title_main {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}
.title_block .subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.title_block .subtitle_end {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
}

.offer {
  padding-top: 65px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item .offer_title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.item .offer_title:hover {
  text-decoration: underline;
}
.item .offer_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.item1 {
  background-image: url(/img/offer/dark_phone.png), url(/img/offer/for_women.png);
  background-size: contain;
}

.item2 {
  background-image: url(/img/offer/dark_phone.png), url(/img/offer/for_men.png);
  background-size: contain;
}

.item3 {
  background-image: url(/img/offer/dark_phone.png), url(/img/offer/for_kids.png);
  background-size: contain;
}

.item4 {
  grid-column: span 3;
  background-image: url(/img/offer/dark_phone.png), url(/img/offer/accesories.png);
  background-size: contain;
}

.products {
  margin-bottom: 60px;
}

.products_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.products_title .p_t_title {
  color: #222;
  font-size: 30px;
  font-weight: 400;
}
.products_title .p_t_text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  max-width: 336px;
  text-align: center;
}

.p_products {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 586px);
  gap: 30px;
  justify-content: center;
  padding: 48px 48px;
}
.p_products .product_item {
  background: rgb(248, 248, 248);
  position: relative;
}
.p_products .product_item .bg_highlighted {
  background: url(/img/product/product_2.png) center no-repeat, url(/img/product/product_2_bg.png);
  height: 420px;
}
.p_products .product_item .title_and_price {
  padding: 24px 16px;
}
.p_products .product_item .title_and_price .p_i_title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 16px;
}
.p_products .product_item .title_and_price .p_i_text {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  width: 315px;
  height: 51px;
  overflow: hidden;
}
.p_products .product_item .title_and_price .p_i_text_num {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
}
.p_products .product_item .add_to_card_block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 420px;
  box-sizing: border-box;
  background: url("data:image/svg+xml,%3Csvg width='360.000031' height='420.000000' viewBox='0 0 360 420' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Rectangle 15 copy' d='M0 0L360 0L360 420L0 420L0 0Z' fill='%233A3838' fill-opacity='0.860000' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  display: none;
}
.p_products .product_item .add_to_card_block .add_button {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 11px 16px 8px 13px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.p_products .product_item .add_to_card_block .add_button:hover {
  background-color: rgb(111, 110, 110);
}
.p_products .product_item .add_to_card_block .add_button:active {
  transform: scale(0.9);
}
.p_products .product_item:hover .add_to_card_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_button {
  border: 1px solid rgb(255, 106, 106);
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 39px 14px 39px;
  background: none;
  margin-left: calc(50% - 106px);
}

.p_button:hover {
  border: 1px solid rgb(255, 106, 106);
  background: #F16D7F;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.p_button:active {
  transform: scale(0.9);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 134px;
  justify-content: center;
  gap: 30px;
  background: rgb(34, 34, 36);
  padding-top: 104px;
  padding-bottom: 104px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
}

.feat_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.feat_content .feat_title {
  color: rgb(251, 251, 251);
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.feat_content .feat_text {
  max-width: 90%;
  color: rgb(251, 251, 251);
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  overflow: hidden;
  height: 34px;
}

.subscribe {
  display: flex;
  background-image: url(/img/subscribe/background_phone.png), url(/img/subscribe/background_photo.png);
  justify-content: center;
  background-size: cover;
}

.subscribe_info {
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 223px;
}
.subscribe_info .l {
  border-radius: 50%;
  transform: scale(0.75);
  background-size: 150%;
  background-position: center;
  background-position-y: -12px;
  background-image: url(/img/subscribe/photo.png);
  width: 145px;
  height: 150px;
  background-repeat: no-repeat;
}
.subscribe_info .subscribe_text {
  color: rgb(34, 34, 36);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 360px;
  height: 99px;
  overflow: hidden;
}

.subscribe_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 104px;
  padding-right: 97px;
}
.subscribe_form .subscribe_title_bold {
  font-size: 24px;
  font-weight: 700;
  color: rgb(34, 34, 36);
  font-family: Lato;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
}
.subscribe_form .subscribe_title {
  color: rgb(34, 34, 36);
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 32px;
}
.subscribe_form .subscribe_block {
  display: flex;
}
.subscribe_form .subscribe_block .bg_input {
  width: 256px;
  height: 49px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='256.000000' height='49.000000' viewBox='0 0 256 49' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs /%3E%3Cpath id='bg_input' d='M17.6288 0L256 0C256 0 256 10.969 256 24.5C256 38.031 256 49 256 49L17.6288 49C7.8927 49 0 38.031 0 24.5C0 10.969 7.8927 0 17.6288 0Z' fill='%23E1E1E1' fill-opacity='1.000000' fill-rule='evenodd' /%3E%3C/svg%3E");
  box-sizing: border-box;
  padding: 0px 22px 0px 22px;
}
.subscribe_form .subscribe_block .bg_input:focus {
  background-color: rgb(225, 225, 225);
}
.subscribe_form .subscribe_block .bg_input:focus .subscribe_button {
  transform: scale(1.1);
}
.subscribe_form .subscribe_block .bg_input::-moz-placeholder {
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.67;
  z-index: 3;
}
.subscribe_form .subscribe_block .bg_input:-ms-input-placeholder {
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.67;
  z-index: 3;
}
.subscribe_form .subscribe_block .bg_input::placeholder {
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.67;
  z-index: 3;
}
.subscribe_form .subscribe_button {
  border: none;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background: url("data:image/svg+xml,%3Csvg width='100.000000' height='49.000000' viewBox='0 0 100 49' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs /%3E%3Cpath id='bg_button' d='M0 0L77.8846 0C83.75 0 89.3751 2.58127 93.5225 7.17592C97.6699 11.7706 100 18.0022 100 24.5C100 30.9978 97.6699 37.2294 93.5225 41.8241C89.3751 46.4187 83.75 49 77.8846 49L0 49L0 0Z' fill='%23F16D7F' fill-opacity='1.000000' fill-rule='nonzero' /%3E%3C/svg%3E");
  width: 100px;
}
.subscribe_form .subscribe_button:hover {
  transform: scale(1.1);
}
.subscribe_form .subscribe_button:active {
  transform: scale(1);
}

.social_networks {
  background: rgb(34, 34, 36);
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 665px;
}

.brand {
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 332px;
}

.social_network_block {
  display: grid;
  grid-template-columns: repeat(4, 31px);
  grid-template-rows: 32px;
  gap: 7px;
}
.social_network_block .s_n_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0x;
  position: relative;
  background: rgb(255, 255, 255);
}
.social_network_block .s_n_item .s_n_item_element {
  position: absolute;
}
.social_network_block .s_n_item:hover {
  background-color: #F16D7F;
}
.social_network_block .s_n_item:active {
  transform: scale(0.9);
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .header {
    gap: 650px;
    padding-bottom: 18px;
  }
  .top {
    gap: 39px;
    padding-left: calc(50% - 550px);
  }
  .title_block {
    align-items: start;
    margin-top: 138px;
    margin-bottom: 137px;
  }
  .man {
    width: 386px;
    height: 368px;
  }
}
@media (max-width: 1024px) {
  .header {
    gap: 424px;
    padding-bottom: 18px;
  }
  .button_copy {
    gap: 25px;
  }
  .basket {
    padding-left: 17px;
  }
  .top {
    gap: 39px;
  }
  .title_block {
    align-items: start;
    margin-top: 138px;
    margin-bottom: 137px;
  }
  .title_block .title_main {
    font-size: 44px;
  }
  .title_block .subtitle {
    font-size: 24px;
  }
  .title_block .subtitle_end {
    font-size: 24px;
  }
  .man {
    width: 386px;
    height: 386px;
  }
  .offer {
    grid-template-columns: repeat(3, 232px);
    grid-template-rows: 168px 116px;
    gap: 19px;
    padding-bottom: 106px;
  }
  .products {
    margin-bottom: 64px;
  }
  .p_products {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 581px);
    gap: 16px;
  }
  .p_products .product_item .title_and_price .p_i_title {
    padding-bottom: 13px;
  }
  .p_products .product_item .title_and_price .p_i_text_num {
    padding-top: 18px;
  }
  .features {
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: repeat(3, 134px);
    justify-content: center;
    gap: 48px;
    background: rgb(34, 34, 36);
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
    padding-top: 53px;
    padding-bottom: 140px;
    background-size: cover;
  }
  .subscribe_info {
    padding: 0;
  }
  .subscribe_info .subscribe_text {
    min-height: 99px;
  }
  .subscribe_form {
    align-items: center;
  }
  .social_networks {
    gap: 305px;
  }
  .brand {
    width: 251px;
  }
}
@media (max-width: 767px) {
  .none_phone {
    display: none;
  }
  .eclipse {
    display: none;
  }
  .header {
    gap: 200px;
  }
  .top {
    justify-content: center;
  }
  .title_block {
    gap: 15px;
    align-items: center;
  }
  .title_block .rectangle_title {
    height: 61px;
    width: 12px;
    background-color: #F16D7F;
  }
  .title_block .title_main {
    font-size: 38px;
  }
  .title_block .subtitle {
    font-size: 20px;
  }
  .title_block .subtitle_end {
    font-size: 20px;
  }
  .offer {
    grid-template-columns: repeat(1, 343px);
    grid-template-rows: 248px 249px 247px 111px;
    gap: 32px;
    padding-bottom: 64px;
    padding-top: 64px;
  }
  .item4 {
    grid-column: span 1;
  }
  .products {
    margin-bottom: 96px;
  }
  .p_t_title {
    margin-bottom: 3px;
  }
  .p_products {
    padding-top: 64px;
    padding-bottom: 41px;
    grid-template-columns: repeat(1, 360px);
  }
  .features {
    padding-bottom: 81px;
  }
  .subscribe {
    padding-bottom: 109px;
    gap: 59px;
    background-position: left;
  }
  .subscribe_info .subscribe_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .subscribe_form {
    padding: 0;
  }
  .subscribe_form .subscribe_title {
    font-size: 14px;
    padding-bottom: 22px;
  }
  .social_networks {
    gap: 40px;
    flex-direction: column-reverse;
    padding-bottom: 9px;
    padding-top: 43px;
  }
}
@media (max-width: 395px) {
  .header {
    gap: 115px;
  }
  .offer {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 220px 220px 220px 100px;
  }
  .products_title .p_t_text {
    text-align: center;
    max-width: 300px;
  }
  .p_products {
    grid-template-columns: repeat(1, 310px);
    grid-template-rows: repeat(6, 530px);
  }
  .p_products .product_item .bg_highlighted {
    height: 360px;
  }
  .img_min_width {
    width: 100%;
  }
  .s_form_input {
    width: 210px;
  }
  .subscribe_form .subscribe_block .bg_input {
    width: 210px;
  }
  .subscribe_button {
    font-size: 12px;
  }
}
#product_page {
  grid-template-rows: repeat(1, 586px);
  padding: 664px 0px 48px 0px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 737px;
  padding: 60px;
  background: rgb(248, 243, 244);
}

.breadcrumb_title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  width: 194px;
}

.breadcrumb_menu .breadcrumb_link {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: left;
}
.breadcrumb_menu .breadcrumb_link:last-child {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 700;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: left;
}
.breadcrumb_menu .breadcrumb_link ~ .breadcrumb_link::before {
  content: " / ";
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 1px;
}
.breadcrumb_menu .breadcrumb_link:hover {
  text-decoration: underline;
}

.slide {
  background: rgb(247, 247, 247);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 442px;
  height: 777px;
}

.slide_button {
  background: rgba(42, 42, 42, 0.15);
  border: none;
  width: 47px;
  height: 47px;
}

.slide_button:hover {
  transform: scale(1.1);
  border: 0.5px solid;
}

.slide_button:active {
  transform: scale(1);
}

.product_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  padding: 64px 0px 64px 0px;
  width: 1141px;
  border: 1px solid rgb(234, 234, 234);
  background: rgb(255, 255, 255);
  position: absolute;
  top: 935px;
  left: calc(50% - 570px);
}

.description_subtitle {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 12px;
}

.description_title {
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 48px;
}

.description_text {
  color: rgb(94, 94, 94);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  width: 555px;
}

.description_price {
  color: rgb(239, 91, 112);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 64px;
}

.description_choose_block {
  display: flex;
  align-items: center;
  gap: 23px;
  padding-top: 64px;
  padding-bottom: 48px;
}
.description_choose_block .description_choose_text {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.description_choose_block .desctription_select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 11px;
  height: 6px;
  border: none;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10.020020' height='5.046143' viewBox='0 0 10.02 5.04614' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M5.00195 5.04443C4.83545 5.04468 4.67334 4.98608 4.54492 4.87866L0.258301 1.27612C0.112305 1.15381 0.0205078 0.978271 0.00292969 0.787598C-0.0141602 0.597168 0.0439453 0.407471 0.165039 0.260254C0.286621 0.113037 0.460938 0.0205078 0.649902 0.00292969C0.838379 -0.0144043 1.02686 0.0444336 1.17285 0.166504L5.00195 3.39453L8.83154 0.281982C8.90479 0.222168 8.98877 0.177246 9.0791 0.150391C9.16943 0.123535 9.26416 0.114746 9.35742 0.124756C9.45117 0.134766 9.54199 0.16333 9.62451 0.208984C9.70703 0.254395 9.78027 0.315918 9.83887 0.389893C9.9043 0.464111 9.9541 0.551025 9.98486 0.645264C10.0151 0.739502 10.0264 0.839111 10.0166 0.937988C10.0073 1.03662 9.97803 1.13257 9.93018 1.21924C9.88232 1.30591 9.81738 1.38184 9.73926 1.44189L5.45215 4.92188C5.31982 5.01245 5.16162 5.05542 5.00195 5.04443Z' fill='%236F6E6E' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
}

#description_select_button {
  width: 211px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 23px;
  padding-left: 24px;
  margin-left: 0;
}

#description_select_button:hover .basket_deck path {
  fill: #FFFFFF;
}

#product_catalog {
  grid-template-rows: repeat(3, 586px);
  padding: 13px 0px 48px 0px;
}

#bg_highlighted_catalog {
  background: url(/img/product/men/product_men_1.png) center no-repeat, url(/img/product/product_2_bg.png);
  height: 420px;
}

.sort {
  padding: 39px 0px 51px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter_block {
  position: relative;
  width: 360px;
}
.filter_block .filter {
  width: 360px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding-top: 13px;
}
.filter_block .filter[open] {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}
.filter_block .filter[open] .filter_title {
  color: #F16D7F;
}
.filter_block .filter[open] path {
  fill: #F16D7F;
}
.filter_block .filter_summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 9px;
}
.filter_block .filter_summary .filter_title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 16px;
}
.filter_block .filter_sidebar {
  margin: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter_block .filter_sidebar_category_title {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-left: 5px solid #F16D7F;
  padding: 8px 0px 12px 11px;
}
.filter_block .filter_sidebar_category[open] .f_s_c_t_span {
  color: #F16D7F;
}
.filter_block .filter_sidebar_category_link {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  margin-bottom: 6px;
}
.filter_block .filter_sidebar_category_link .sidebar_link_item:hover {
  color: #F16D7F;
  text-decoration: underline;
}

.parameters_of_sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 28px;
  padding-top: 12px;
}
.parameters_of_sort .parameter {
  position: relative;
}
.parameters_of_sort .parameter .parameter_summary {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.parameters_of_sort .parameter .sort_box {
  position: absolute;
  left: -9px;
  top: 22px;
  width: 79px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 7px 0px 12px 9px;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}
.parameters_of_sort .parameter .sort_box .sort_check {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 9px;
}

.center {
  padding-left: calc(50% - 570px);
}

.pages {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 15px;
  margin-left: calc(50% - 142px);
  width: 283px;
}

.pages_icon:hover {
  transform: scale(1.3);
}

.pages_icon:hover path {
  fill: #F16D7F;
}

.pages_icon:active {
  transform: scale(1);
}

.pages_link {
  display: flex;
  gap: 20px;
}
.pages_link .pages_link_item {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.pages_link .pages_link_item:hover {
  color: #F16D7F;
}/*# sourceMappingURL=style.css.map */