.slide{
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 777px;
    position: relative;
    &__button{
        background: rgba(42, 42, 42, 0.15);
        border: none;
        width: 47px;
        height: 47px;
    }
    .left{
        position: absolute;
        left: 0;
        top: 365px;
    }
    .right{
        position: absolute;
        right: 0;
        top: 365px;
    }
    &__button:hover{
        transform: scale(1.1);
        border: 0.5px solid;
    }
    &__button:active{
        transform: scale(1);
    }

    &__photo{
        max-width: 597px;
        max-height: 724px;
    }
}