#product_catalog{
    grid-template-rows: repeat(3, 586px);
    padding: 13px 0px 48px 0px;
} 

#bg_highlighted_catalog{
    background: url(/img/product/men/product_men_1.png) center no-repeat,url(/img/product/product_2_bg.png);
    height: 420px;
}