* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    line-height: normal;
}

.header {
    background: rgb(34, 34, 34);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 859px;
    padding-top: 18px;
    padding-bottom: 19px;
}

.logo {
    display: flex;
    gap: 41px;
    align-items: end;
}

.magnifier {
    height: 28px;
    padding-bottom: 1px;
}

.button_copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 33px;
    position: relative;
}

.ellipse {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
}

.text_ellipse {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    z-index: 2;
}

.top {
    background: rgb(241, 228, 230);
    display: flex;
    gap: 64px;
    padding-left: calc(50% - 800px);
}

.title_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 290px;
    margin-bottom: 381px;
}

.title_main {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.subtitle_end {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 30px;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item1 {
    background: #C4C4C4;
    background-image: url(img/offer/dark_phone.png), url(img/offer/for_women.png);
    background-size: contain;
}

.item2 {
    background-image: url(img/offer/dark_phone.png), url(img/offer/for_men.png);
    background-size: contain;
}

.item3 {
    background-image: url(img/offer/dark_phone.png), url(img/offer/for_kids.png);
    background-size: contain;
}

.item4 {
    grid-column: span 3;
    background-image: url(img/offer/dark_phone.png), url(img/offer/accesories.png);
    background-size: contain;
}

.products_title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offer_title {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.offer_subtitle {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.p_t_title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.p_t_text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.products {
    margin-bottom: 60px;
}

.p_products {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 586px);
    gap: 30px;
    justify-content: center;
    padding: 48px 48px;
}

.product_item {
    background: rgb(248, 248, 248);
}

.bg_highlighted {
    background: url(img/product/product_2.png) center no-repeat, url(img/product/product_2_bg.png);
    height: 420px;
}

.title_and_price {
    padding: 24px 16px;

}

.p_i_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 16px;
}

.p_i_text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    width: 315px;
}

.p_i_text_num {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
}

.p_button {
    border: 1px solid rgb(255, 106, 106);
    color: rgb(242, 99, 118);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 39px 14px 39px;
    background: none;
    margin-left: calc(50% - 106px);
}

@media (max-width: 1024px) {
    .header {
        gap: 424px;
        padding-bottom: 18px;
    }

    .button_copy {
        gap: 25px;
        padding-top: 8px;
    }

    .basket {
        padding-left: 17px;
        padding-right: 9px;
    }

    .ellipse {
        display: flex;
    }

    .text_ellipse {
        display: flex;
        right: 3px;
        top: 1px;
    }

    .top {
        gap: 39px;
    }

    .title_block {
        align-items: start;
        margin-top: 138px;
        margin-bottom: 137px;
    }

    .man {
        width: 386px;
        height: 368px;
    }

    .title_main {
        font-size: 44px;
    }

    .subtitle {
        font-size: 24px;
    }

    .subtitle_end {
        font-size: 24px;
    }

    .offer {
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 19px;
        padding-bottom: 106px;
    }

    .p_products {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 16px;
    }

    .p_i_title {
        padding-bottom: 13px;
    }

    .p_i_text_num {
        padding-top: 18px;
    }

    .bg_highlighted {
        background: url(img/product/Add_to_cart.png) center no-repeat, url(img/product/1.png), url(img/product/product_2.png) center no-repeat;
    }
}

@media (max-width:767px) {
    .none_phone {
        display: none;
    }

    .header {
        gap: 200px;

    }

    .top {
        justify-content: center;
    }

    .title_block {
        gap: 15px;
        align-items: center;
    }

    .rectangle_title {
        height: 61px;
        width: 12px;
    }

    .title_main {
        font-size: 38px;
    }

    .subtitle {
        font-size: 20px;
    }

    .subtitle_end {
        font-size: 20px;
    }

    .offer {
        padding-top: 64px;
    }

    .item4 {
        grid-column: span 1;
    }

    .offer {
        grid-template-columns: repeat(1, 343px);
        grid-template-rows: 248px 249px 247px 111px;
        gap: 32px;
        padding-bottom: 64px;
    }

    p_t_title {
        margin-bottom: 3px;
    }

    .p_products {
        padding-top: 64px;
        padding-bottom: 41px;
    }

    .p_products {
        grid-template-columns: repeat(1, 360px);
    }
}

@media (max-width:320px) {
    .header {
        gap: 115px;
    }

    .offer {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: 220px 220px 220px 100px;
    }

    .p_t_text {
        text-align: center;
        max-width: 300px;
    }

    .p_products {
        grid-template-columns: repeat(1, 310px);
        grid-template-rows: repeat(6, 530px);
    }

    .img_min_width {
        width: 100%;
    }

    .bg_highlighted {
        height: 360px;
    }
}